---
page_title: "{{.Type}} {{.Name}} - {{.ProviderName}}"
subcategory: "Database Objects"
description: |-
  Reads a PostgreSQL database.
---

# {{.Type}} ({{.Name}})

Reads a PostgreSQL database that already exists.

## Example Usage

{{tffile "examples/data-sources/postgresql_database/data-source.tf"}}

{{ .SchemaMarkdown | trimspace }}
