---
page_title: "{{.Type}} {{.Name}} - {{.ProviderName}}"
subcategory: "Database Objects"
description: |-
  Reads information about a PostgreSQL database.
---

# {{.Type}} ({{.Name}})

Reads information about an existing PostgreSQL database.

## Example Usage

{{tffile "examples/data-sources/postgresql_database/data-source.tf"}}

{{ .SchemaMarkdown | trimspace }}
