---
page_title: "{{.Type}} {{.Name}} - {{.ProviderName}}"
subcategory: "Roles & Permissions"
description: |-
  Lists PostgreSQL roles, with optional filters.
---

# {{.Type}} ({{.Name}})

Lists PostgreSQL roles. You can filter by name pattern and by login privilege.

## Example Usage

{{tffile "examples/data-sources/postgresql_roles/data-source.tf"}}

{{ .SchemaMarkdown | trimspace }}
