---
page_title: "{{.Type}} {{.Name}} - {{.ProviderName}}"
subcategory: "Roles & Permissions"
description: |-
  Reads a PostgreSQL role.
---

# {{.Type}} ({{.Name}})

Reads a PostgreSQL role that already exists.

## Example Usage

{{tffile "examples/data-sources/postgresql_role/data-source.tf"}}

{{ .SchemaMarkdown | trimspace }}
