---
page_title: "{{.Type}} {{.Name}} - {{.ProviderName}}"
subcategory: "Database Objects"
description: |-
  Lists PostgreSQL schemas, with optional filters.
---

# {{.Type}} ({{.Name}})

Lists PostgreSQL schemas. You can filter by name pattern.

## Example Usage

{{tffile "examples/data-sources/postgresql_schemas/data-source.tf"}}

{{ .SchemaMarkdown | trimspace }}
