---
page_title: "{{.Type}} {{.Name}} - {{.ProviderName}}"
subcategory: "Database Objects"
description: |-
  Lists PostgreSQL tables, with optional filters.
---

# {{.Type}} ({{.Name}})

Lists PostgreSQL tables. You can filter by schema, name pattern, and table type.

## Example Usage

{{tffile "examples/data-sources/postgresql_tables/data-source.tf"}}

{{ .SchemaMarkdown | trimspace }}
